In [4]:
import pandas as pd
import pymysql
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
conn = pymysql.connect(
    host='192.168.4.162',
    port=int(3306),
    charset="utf8mb4",
    user="uboetu",
    password="10RJ0Nd05vCiZr5m",
    db="relation_alignment"
)
cursor = conn.cursor()
query = "SELECT accountid, type_number,type_code, MAX(follower_type_percentage) FROM `types_follower_alignment` WHERE `accountid` < 10000 AND type_code NOT IN (0,1,1542) AND type_number = 3 GROUP BY accountid" 
cursor.execute(query)
data= cursor.fetchall()

dfa = pd.DataFrame(data)
all_types = pd.read_excel('all_types.xlsx')
df = dfa.rename(columns={0 : 'accountid', 1 : 'type_number',2 : 'ID',3 : 'follower_type_percentage'})
dffollowers = pd.merge(df, all_types)

query2 = "SELECT * FROM `types_friend_alignment` WHERE type_number = 3 AND accountid < 10000 AND type_code NOT IN (0,1,1542)" 
cursor.execute(query2)
data2 = cursor.fetchall()
dfb = pd.DataFrame(data2).rename(columns={0 : 'accountid', 1 : 'type_number',2 : 'ID',3: 'friend_type_count',4 : 'follower_type_percentage'})
dffriends = pd.merge(dfb, all_types)

In [16]:
dffollowers['accountid']

0         21
1         53
2        107
3        136
4        188
        ...
1037    8373
1038    8756
1039    9015
1040    9377
1041    9920
Name: accountid, Length: 1042, dtype: int64

In [17]:
dffollowers.head()

   accountid  type_number  ID follower_type_percentage               Type
0         21            3  92                    0.097  .. Entrepreneur 7
1         53            3  92                    0.080  .. Entrepreneur 7
2        107            3  92                    0.139  .. Entrepreneur 7
3        136            3  92                    0.091  .. Entrepreneur 7
4        188            3  92                    0.125  .. Entrepreneur 7